venv/

checkpoints/
logs/

GTDM_Lowlight/__pycache__/
GTDM_Lowlight/**/__pycache__/
GTDM_Lowlight/**/*.pyc

data/__pycache__/
data_new/

models/__pycache__/
**/.DS_Store

scripts/__pycache__/
rpi/best_model.pth